.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
    }
    .songs {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        overflow-y: scroll;
        &:nth-child(1) {
            margin-left: 5%;
        }
    }
}
