.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
    }
    .songs {
        display: flex;
        gap: 5%;
        flex-wrap: wrap;
        margin: 20px 0;
        overflow-y: scroll;
    }
}
