.wrapper-vertical {
    width: 100%;
    margin-bottom: 30px;
    .image {
        position: relative;
        width: 100%;
        margin-bottom: 8px;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: 0.2s linear;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn-top {
                position: absolute;
                width: 100%;
                top: 0;
                display: flex;
                justify-content: space-between;
                color: var(--text-bold-color);
                padding: 3% 6%;
                .add-to-playLists {
                    border-radius: 100%;
                    border: 1px solid;
                    height: 18px;
                    width: 18px;
                    text-align: center;
                    line-height: 18px;
                    cursor: pointer;
                    margin-top: 2px;
                    font-size: 11px;

                    &:hover {
                        color: white;
                    }
                }
                .add-to-favoriteLists {
                    cursor: pointer;
                    &:hover {
                        color: white;
                    }
                }
                .active-heart {
                    color: var(--heart-active-color) !important;
                }
                .active-add {
                    background-color: #4cb6cb !important;
                    color: black !important;
                }
            }

            .btn-play {
                color: var(--text-bold-color);
                font-size: 20px;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 100%;
                border: 1px solid;
                padding-left: 3px;
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }
        }

        &:hover .overlay {
            opacity: 1;
        }
    }

    .song-name {
        font-size: 15px;
        color: var(--song-card-color);
        cursor: pointer;
        transition: 0.1s linear;
        &:hover {
            color: var(--song-card-color-hover);
        }
    }
    .singer-name {
        font-size: 14px;
        color: var(--song-card-color-muted);
        cursor: pointer;
        transition: 0.1s linear;
        &:hover {
            color: var(--song-card-color-hover);
        }
    }
}

.wrapper-horizontal {
    height: 50px;
    border-radius: 4px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
        background-color: var(--song-card-color);

        .overlay {
            display: flex !important;
        }
    }
    .left {
        display: flex;
        height: 100%;
        .image {
            height: 100%;
            width: 38px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            margin-right: 10px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .overlay {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                align-items: center;
                justify-content: center;
                color: white;
                cursor: pointer;
            }
        }

        .info {
            .song-name {
                font-size: 1.4rem;
                color: white;
            }

            .singer-name {
                font-size: 1.3rem;
                color: var(--sidebar-text-color);
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
    }
    .added {
        transform: rotate(45deg);
    }
}
.active {
    background-color: var(--musicplayer-bg);
}
.active-heart {
    color: var(--heart-active-color) !important;
}

.icon-right {
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--sidebar-text-color);
    transition: 0.2s linear;
    margin: 0 5px;
}

.non-style.active {
    background-color: initial !important;
}
.non-style {
    height: 100%;
    padding: 0;

    .image {
        height: calc(var(--musicplayer-height) - 20px) !important;
        width: calc(var(--musicplayer-height) - 20px) !important;
    }
    .image-spin {
        border-radius: 100% !important;
        animation: spin 3s linear infinite;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .song-name {
            font-size: 1.6rem !important;
            color: var(--text-bold-color) !important;
        }
        .singer-name {
            font-size: 1.5rem !important;
            color: var(--text-gray-color) !important;
        }
    }
    .icon-heart {
        font-size: 1.8rem !important;
        color: var(--text-gray-color);
    }
}

// animation
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
