.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.app-top {
    display: flex;
    flex: 1;
}
.app-left-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.app-content {
    background-color: var(--appcontent-bg);
    padding: 20px 30px;
    height: calc(100vh - var(--header-height) - var(--musicplayer-height));
}
